In [2]:
import pandas as pd
import pyodbc

In [3]:
# Parameters
server = r'NB1100365'
db = 'AdventureWorksDW2014'

# Create the connection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + db + ';Trusted_Connection=yes')

# query db
sql = "SELECT top 30 * FROM vAssocSeqOrders"
df = pd.read_sql(sql, conn)
df.head(20)

   OrderNumber  CustomerKey         Region IncomeGroup
0      SO61342        12497         Europe    Moderate
1      SO61344        17816         Europe         Low
2      SO61346        16293         Europe    Moderate
3      SO61350        11280  North America        High
4      SO61351        11201  North America        High
5      SO61353        16717  North America    Moderate
6      SO61358        14456  North America        High
7      SO61362        13648        Pacific        High
8      SO61367        11099        Pacific    Moderate
9      SO61372        12139  North America        High
10     SO61373        11122        Pacific        High
11     SO61379        16436         Europe         Low
12     SO61381        12623         Europe         Low
13     SO61382        15697         Europe        High
14     SO61383        14429         Europe        High
15     SO61384        11086  North America        High
16     SO61385        11262  North America        High
17     SO61386        27609  North America        High
18     SO61388        14265  North America         Low
19     SO61391        16497  North America         Low